*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* loading home page */
.loading_homepage {
  height: 100vh;
  background-color: #000307;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loading_homepage img {
  width: 200px;
}

/* Home page */
.home_page {
  height: 100vh;
  background-color: #000307;
}

/* navbar */
.navbar_wrapper {
  background-color: #000000be !important;
  padding: 5px;
}
.navbar_logo {
  width: 100px;
}
.navbar_search {
  background-color: transparent !important;
  border: 1px solid #707172;
}
.profile_logo {
  width: 30px;
}