*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* loading home page */
.loading_homepage {
  height: 100vh;
  background-color: #000307;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loading_homepage img {
  width: 200px;
}

/* Home page */
.home_page {
  height: 100vh;
  background-color: #000307;
}

/* navbar */
.navbar_wrapper {
  background-color: transparent !important;
  padding: 5px;
  position: static;
  border: none !important;
  box-shadow: none !important;
}
.navbar_logo {
  width: 100px;
}
.banner_links {
  margin-left: 30px;
}
.banner_links span {
  margin-left: 30px;
  cursor: pointer;
}

.navbar_search {
  background-color: transparent !important;
  border: 1px solid #7071727e;
  height: 40px !important;
}
.navbar_items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_logo {
  width: 30px;
}
.navbar_search {
  display: flex;
  justify-content: left;
  align-items: center;
}

.homebanner_wrapper {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banner_content_wrapper {
  
}